.first {
  height: calc(100vh - 60px);
  background: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  flex-direction: column;
}
.not {
  display: none;
}
.first p {
  font-size: 60px;
  font-weight: 700;
}

.firstBy {
  font-size: 12px;
}

.firstDec {
  font-size: 12px;
}

.first h3 {
  margin: 20px 0;
}

.firstWho {
  display: flex;
  list-style: none;
}

.firstWhoItem {
  margin: 0 20px;
  cursor: pointer;
  text-transform: capitalize;
  border: var(--border);
  padding: 7px 20px;
  transition: 0.5s ease;
}

.firstWhoItem:hover {
  background: white;
  color: black;
}

.first .overFlow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.671);
  opacity: 0;
  display: flex;
  align-items: center;
  transition: var(--trans);
  justify-content: center;
  pointer-events: none;
}

.first .overFlow .selectContainer {
  background: var(--b);
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.first .overFlow .selectContainer .closeOver {
  position: absolute;
  top: 80px;
  font-weight: bold;
  border: none;
  font-size: 3em;
  transform: rotate(45deg);
  color: var(--text-color);
  background: none;
  right: 40px;
}

.first .overFlow .selectContainer button {
  margin: 0 10px;
  height: 40px;
  padding: 0 40px;
  border: var(--border);
  cursor: pointer;
  background: none;
  color: var(--text-color);
  font-weight: 600;
  transition: var(--trans);
}
.first .overFlow .selectContainer button:hover {
  margin: 0 10px;
  height: 40px;
  padding: 0 40px;
  border: var(--border);
  cursor: pointer;
  color: var(--b);
  background: var(--text-color);
}

.first .overFlow.showyourself {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 700px) {
  .first {
    width: 100%;
  }
  .first p {
    font-size: 40px;
    margin: 0;
    text-align: center;
  }

  .firstBy {
    display: none;
  }

  .not {
    display: block;
    font-weight: 700;
  }

  .firstWho {
    display: block;
  }

  .firstWhoItem {
    margin: 20px 0;
    width: 250px;
    text-align: center;
  }

  .firstDec {
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
  }
}
