:root {
  --main-color: #d3ad7f;
  --black: #333;
  --b: #111;
  --bg: #010103;
  --text-color: whitesmoke;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --bord: 0.1rem solid rgba(202, 192, 192, 0.3);
  --trans: 0.5s ease-in-out;
  --color: rgba(255, 255, 255, 0.3);
  --shadow: 0 2px 15px rgba(238, 229, 229, 0.3);
  --light-black: #444;
  --light-white: #888;
  --green: #c4fcef;
  --red: #ff6f91;
  --pink: #faccff;
  --orange: #fbeaff;
  --white: #fff;
  /* --color: #ffc107; */
}

a {
  text-decoration: none;
}

.app {
  background: var(--black);
}

.padding__divs {
  padding: 0 8% 0 5%;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  margin: 30px 0;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.3rem 2rem;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: bold;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
  transition: all var(--trans);
  outline: none;
  border: none;
}

.btn:hover {
  letter-spacing: 0.1rem;
}
