.app__teacher-attendance {
  display: flex;
  flex-direction: column;
  transition: var(--trans);
  margin-top: 1rem;

  .app__teacher-attendance__title {
    font-size: 1.5em;
    font-weight: bold;
  }

  .app__Attendance-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: var(--trans);
    margin-top: 1rem;

    .attendance__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      padding: 10px;
      transition: var(--trans);
      border-bottom: 1px solid var(--black);
      background: var(--teacher-side);

      @media screen and (max-width: 1050px) {
        width: 100%;
      }

      .app__Student-attendance {
        display: flex;
        align-items: center;

        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background: var(--black);
          transition: var(--trans);
          margin-right: 10px;
          object-fit: cover;
        }

        p {
          font-size: 1rem;
        }
      }

      .attendance__status {
        display: flex;
        align-items: center;

        button {
          padding: 5px 2rem;
          cursor: pointer;
          background: var(--black);
          color: var(--pink);
          margin: 0 2px;
          border: none;

          &:nth-child(1) {
            background: var(--green);
            color: var(--black);
            margin-left: 0;
            font-weight: bold;
          }

          &:nth-child(2) {
            font-weight: bold;
            background: var(--red);
            color: var(--black);
          }
        }
      }
    }
  }
}
