.message {
  display: flex;
  min-height: 100vh;
  background: var(--black);
  height: 100%;
  width: 100%;
  padding: 0 0;
  transition: var(--trans);
  color: var(--text-color);
}

.messageContainer {
  min-height: 100vh;
  display: flex;
  width: 100%;
}

.MessageSidebarContainer {
  background: var(--light-black);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
}

.sidebarSearch {
  background: var(--black);
  border-radius: 20px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.noMessage {
  background: var(--light-black);
  min-height: 100vh;
}

.noMessage .noMessageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.noMessage .noMessageContainer img {
  height: 200px;
}
.noMessage .noMessageContainer p {
  font-size: 20px;
}

.sidebarSearch svg {
  height: 20px;
  width: 20px;
}

.MessageSidebarContainer input {
  background: transparent;
  border: none;
  outline: none;
  height: 40px;
  margin-left: 10px;
  color: var(--text-color);
  width: 100%;
}

.MessageSide,
.MessageProfile {
  flex: 1;
  border-left: var(--border);
  min-height: 100vh;
}

.MessageProfile {
  border-right: var(--border);
}
.MessageContent {
  flex: 2;
  border-left: var(--border);
  color: var(--text-color);
  background: var(--teacher__outlet);
}

.MessageSidebar,
.Profile,
.Content {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: var(--trans);
}

.Content {
  padding: 0;
  background: var(--teacher-side);
}
.messages {
  overflow-y: auto;
  height: 100%;
}

.messages::-webkit-scrollbar {
  width: 0.4rem;
}

.messages::-webkit-scrollbar-track {
  background: transparent;
}

.messages::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 5rem;
}
.sender {
  display: flex;
  cursor: pointer;
  border-top: var(--border);
  color: var(--text-color);
}

.senderContaier {
  display: flex;
  align-items: center;
  padding: 5px;
  background: var(--black);
  width: 100%;
  transition: var(--trans);
  max-height: 65px;
}

.senderContaier:hover {
  background: var(--light-black);
}

.senderContaier img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 6px;
  border: 1px solid var(--black);
  background: var(--black);
}

.messageCont {
  display: flex;
  flex-direction: column;
}

.messageCont p:nth-child(1) {
  font-size: 12px;
  font-weight: 700;
  text-transform: capitalize;
}

.messageCont .senderMessage {
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.Profile {
  align-items: center;
}

.ProfileContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile__Top {
  height: 100px;
  width: 100%;
  position: relative;
}

.ProfileContainer .Profile__Top .topWrapper {
  width: 120px;
  height: 120px;
  object-fit: cover;
  padding: 5px;
  background: var(--black);
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 50%;
}
.ProfileContainer .Profile__Top .topWrapper img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border: 1px solid var(--black);
  border-radius: 50%;
}

.profileContent {
  padding: 70px 10px 10px;
  height: 490px;
  border-top-right-radius: 10px;
  width: 100%;
  transition: var(--trans);
  background: var(--light-black);
}

.profileContent .content__top_Profile {
  text-align: center;
  font-weight: bold;
}
.profileContent .content__top_Profile p {
  cursor: pointer;
}

.ContentContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.contentTop {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  background: var(--black);
  color: var(--teacher__outlet);
  border-bottom: var(--border);
}

.contentTop .userInfo {
  display: flex;
  align-items: center;
}

.contentTop .userInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--black);
  margin-right: 10px;
  border: 1px solid var(--light-black);
}

.contentTop .top__items {
  display: flex;
}
.contentTop .top__items .calls {
  display: flex;
  margin: 0 15px;
  cursor: pointer;
}
.contentTop .top__items .calls svg {
  height: 20px;
  width: 20px;
  color: var(--teacher__side);
}

.Messages__container {
  overflow-y: scroll;
  padding: 5px;
  height: 100%;
}

.Messages__container::-webkit-scrollbar {
  width: 0.4rem;
}

.Messages__container::-webkit-scrollbar-track {
  background: transparent;
}

.Messages__container::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 5rem;
}

.Messages__container .text__message.me {
  display: flex;
  justify-content: flex-end;
}

.Messages__container .text__message.me p {
  padding: 10px;
  background: var(--light-black);
  margin: 5px 0;
  border-radius: 10px 0px 10px 10px;
  max-width: 300px;
  text-align: left;
  color: var(--text-color);
  max-height: 500px;
}

.Messages__container .text__message {
  display: flex;
  justify-content: flex-start;
  transition: var(--trans);
}

.Messages__container .text__message.receiver p {
  padding: 10px;
  background: var(--light-black);
  margin: 5px 0;
  border-radius: 0px 10px 10px 10px;
  max-width: 300px;
  color: var(--teacher__outlet);
  text-align: left;
  max-height: 500px;
}

.sendMessage__Container {
  display: flex;
  width: 100%;
  padding: 5px;
  background: var(--black);
}

.sendMessage__Container textarea {
  resize: none;
  outline: none;
  max-height: 200px;
  height: 40px;
  max-height: 70px;
  min-height: 40px;
  border: none;
  padding: 10px;
  width: 100%;
  color: var(--text-color);
  background: var(--light-black);
  border-radius: 10px;
  margin-right: 10px;
}

.sendMessage__Container textarea::-webkit-scrollbar {
  width: 0.4rem;
}

.sendMessage__Container textarea::-webkit-scrollbar-track {
  background: transparent;
}

.sendMessage__Container textarea::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 5rem;
}

.sendMessage__Container button {
  cursor: pointer;
  padding: 5px 10px;
  background: var(--light-black);
  border: none;
  border-radius: 10px;
  color: var(--text-color);
  text-transform: capitalize;
  font-weight: bold;
}
