.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 10%;
  border-bottom: 1px solid var(--bold__black);
  position: sticky;
  top: 0;
  color: var(--bold__black);
  z-index: 999;
  background: var(--teacher__outlet);
}

.navbarContainer,
.leftnav,
.centerNav ul,
.inputContainer {
  display: flex;
  align-items: center;
}

.navbarContainer {
  justify-content: space-between;
  width: 100%;
}

.leftnav img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  background: var(--light-black);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.leftnav .inputContainer {
  background: var(--light-black);
  padding: 0 13px;
  border-radius: 20px;
  color: var(--light-white);
  width: 60%;
}

.leftnav .inputContainer input {
  background: transparent;
  border: none;
  outline: none;
  height: 40px;
  margin-left: 10px;
  color: var(--text-color);
  width: 100%;
}

.centerNav ul {
  list-style: none;
}

.centerNav ul .centnav__links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light-black);
  margin: 10px;
  border-bottom: 1px solid var(--bold__black);
  padding: 0 15px;
  transition: var(--trans);
  cursor: pointer;
}
.centerNav ul .centnav__links svg {
  height: 25px;
  width: 25px;
}

.rightnav {
  position: relative;
}

.rightnav img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  background: var(--light-black);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.rightnav .navUser__profile {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 80px;
  z-index: 999;
  width: 250px;
  transition: var(--trans);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid var(--bold-black);
  padding: 10px;
  color: var(--bold-black);
  background: var(--teacher__outlet);
  box-shadow: var(--shadow);
}

.navUser__profile.drop {
  opacity: 1;
}

.navUser__profile .topnav__userProfile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.navUser__profile .topnav__userProfile img {
  border: var(--border);
}
.navUser__profile .topnav__userProfile .name__profile {
  display: flex;
  text-transform: normal;
  flex-direction: column;
}

.navUser__profile .topnav__userProfile .name__profile p:nth-child(1) {
  font-weight: 500;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.navUser__profile .topnav__userProfile .name__profile p:nth-child(2) {
  font-weight: 100;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.navProfile__link {
  width: 100%;
  border: 1px solid var(--bold__black);
  border-radius: 10px;
  text-align: center;
  font-size: 10px;
  padding: 2px;
  cursor: pointer;
}

.navUser__routes {
  display: flex;
  margin-top: 10px;
  border-bottom: 1px solid var(--bold__black);
  flex-direction: column;
  padding: 10px 0;
  border-top: 1px solid var(--bold__black);
}

.navUser__routes.last {
  border-top: none;
}

.navUser__routes > p {
  font-weight: bold;
  margin-top: 0;
}

.navUser__routes .signOutBtn {
  margin-top: 5px;
  cursor: pointer;
}
