.app__teacher_classes {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
  width: 100%;
  padding: 20px;

  .clsases__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
    transition: var(--trans);
    text-transform: capitalize;
  }
}
