.auth {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: var(--trans);
}

.authContainer {
  width: 800px;
  height: 500px;
  position: relative;
  margin: 20px;
}

.bg {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 420px;
  background: var(--light-black);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
}

.bg .box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bg .box h2 {
  color: var(--text-color);
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.bg .box button {
  cursor: pointer;
  padding: 10px 20px;
  background: var(--text-color);
  font-weight: 500;
  border: none;
  font-size: 16px;
}

.forms {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--black);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
  transition: var(--trans);
  overflow: hidden;
  border-radius: 10px;
}

.forms.activeSide {
  left: 50%;
}

.forms .form {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: var(--trans);
}

.forms .signInForm {
  transition-delay: 0.2s;
}
.forms .signUpForm {
  left: 100%;
  transition-delay: 0s;
}

.forms.activeSide .signUpForm {
  left: 0;
  transition-delay: 0.2s;
}

.forms.activeSide .signInForm {
  left: -100%;
  transition-delay: 0s;
}

.forms .form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.forms .form form h3 {
  font-size: 1.5em;
  color: var(--text-color);
  margin-bottom: 20px;
  font-weight: 500;
}
.forms .form form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-size: 15px;
  border: var(--border);
}
.forms .form form input[type="submit"] {
  background: #039af4;
  border: none;
  color: var(--text-color);
  max-width: 100px;
  cursor: pointer;
}

.oauth {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.oauth .lineContainer {
  display: flex;
  position: relative;
  width: 100%;
  background: blue;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.oauth .lineContainer .line {
  height: 1px;
  width: 100%;
  background: var(--text-color);
}

.oauth .lineContainer .or {
  height: 50px;
  width: 50px;
  background: var(--black);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.oauthBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.oauth__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: var(--text-color);
  cursor: pointer;
  font-weight: bold;
  width: 32%;
}

.oauth__btn i {
  margin-right: 3px;
}

.google {
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.github {
  background: var(--light-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook {
  background: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  .authContainer {
    max-width: 400px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .authContainer .bg {
    top: 0;
    height: 100%;
  }

  .forms {
    width: 100%;
    height: 500px;
    top: 0;
    box-shadow: none;
  }

  .bg .box {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
  }

  .box.signIn {
    top: 0;
  }

  .forms.activeSide {
    left: 0;
    top: 150px;
  }
}

@media (max-width: 300px) {
  .oauthBtn {
    flex-wrap: wrap;
  }
}
