.adminSidebar {
  width: 18%;
  background: var(--black);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.5s;
  border-right: 0.5px solid var(--light-white);
  float: left;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: sticky;
    background: var(--black);
    color: var(--white);
    transition: var(--trans);
    border-bottom: var(--bord);
    margin-bottom: 30px;
    top: 0;
    z-index: 999;
    .title {
      font-weight: 700;
      font-size: 20px;
    }
  }

  hr {
    height: 0px;
    border: var(--bord);
  }

  .center {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 8px 20px;
        transition: var(--trans);
        cursor: pointer;
        margin: 2px 0;
        text-transform: capitalize;
        position: relative;
        display: flex;
        color: var(--white);
        align-items: center;
        span {
          transition: var(--trans);
        }
        &:hover {
          background: var(--light-white);

          span {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .bottomContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: var(--trans);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 110px;

    .themeContainer {
      width: 40%;
      height: 40px;
      border-radius: 30px;
      transition: var(--trans);
      display: flex;
      align-items: center;
      background: var(--light-white);
      overflow: hidden;
      justify-content: center;

      .themesSwitcher {
        width: 100%;
        height: 100%;
        padding: 7px;
        transition: var(--trans);
        display: flex;
        align-items: center;
        cursor: pointer;
        background: var(--light-white);
        justify-content: space-between;
        position: relative;

        .light {
          transition: var(--trans);
          height: 80%;
          width: 48%;
          border-radius: 30px;
          right: 0;
          left: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          cursor: pointer;
          background: var(--white);
          &.dark {
            background: var(--black);
            color: var(--white);
            left: 50%;
          }
        }
      }
    }

    .userProf {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .prof {
        display: flex;
        align-items: center;
      }
      img {
        width: 40px;
        height: 40px;
        transition: var(--trans);
        border: var(--bord);
        background: var(--light-black);
        border-radius: 50%;
      }
      .details {
        display: flex;
        flex-direction: column;
        margin-left: 5px;

        .nameA {
          font-weight: bold;
          text-transform: capitalize;
          font-size: 12px;
        }

        .emailA {
          font-size: 11px;
        }
      }

      .coo {
        margin-right: 10px;
        position: relative;

        .icons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          transition: var(--trans);
          height: 10px;
          width: 20px;
          cursor: pointer;

          &:hover span {
            transition: var(--trans);
            background: var(--light-white);
          }
          span {
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background: var(--b);
          }
        }

        .adminAcc {
          position: absolute;
          bottom: -10px;
          z-index: 999;
          right: -220px;
          transition: var(--trans);
          width: 200px;
          background: var(--white);
          padding: 5px 20px;
          border-radius: 5px;
          opacity: 0;

          &::before {
            content: "";
            width: 1.2rem;
            height: 1.2rem;
            display: block;
            background: var(--white);
            position: absolute;
            transition: var(--trans);
            left: -0.6rem;
            bottom: 6px;
            transform: rotate(45deg);
          }

          p {
            cursor: pointer;
            transition: var(--trans);
            color: var(--b);
            width: 100%;
            font-weight: bold;
            padding: 5px;
          }
        }
        .op {
          opacity: 1;
        }
      }
    }
  }
}
