.Notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  min-height: 100vh;
  color: var(--text-color);
  padding: 10px 10%;
  height: 100vh;
}

.notfoundContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.Notfound img {
  width: 200%;
  height: 100%;
  color: #fff3a1;
}

.notfoundContainer .notFoundLeftContainer {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notfoundContainer .notFoundLeftContainer > p > a {
  color: var(--text-color);
  text-decoration: underline;
  cursor: pointer;
}

.notfoundContainer .notFoundLeftContainer .topLeft p {
  font-weight: bold;
  font-size: 5em;
}
.notfoundContainer .notFoundRightContainer {
  flex: 1;
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
