.Top {
  display: flex;
  flex-direction: column;
}

.Top .TopContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Top .TopContainer .TopCont {
  height: 200px;
  width: 20%;
  border-radius: 5px;
  transition: var(--trans);
  background: #fad0c4;
}

.Top .TopContainer .TopCont.one {
  background: #faccff;
}

.Top .TopContainer .TopCont.two {
  background: #c4fcef;
}

.Top .TopContainer .TopCont.three {
  background: #fbeaff;
}

.Top .TopContainer .TopCont.four {
  background: #ff6f91;
}
