.chart {
  background: var(--black);
  padding: 20px;
  color: gray;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 10px;

  .title {
    margin-bottom: 20px;
  }

  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
}
