.app__teacher-Dashboard {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;

  .Dashboard__title {
    font-size: 2rem;
    margin-bottom: 5px;
    transition: var(--trans);
    font-weight: bold;
  }

  .Dashboard__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50%;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }

    .Dashboard__content {
      height: 50vh;
      width: 49%;
      background: var(--teacher-side);
      border-radius: 10px;
      padding: 10px;
      transition: var(--trans);
      @media screen and (max-width: 800px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
